#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flip-card {
  transform-style: preserve-3d;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  white-space: pre-wrap;
}

.false {
  --rotate-y: 360deg;
}

.true {
  transform: rotateY(180deg);
  h1 {
    transform: rotateY(180deg);
  }
}

.easy {
  background-color: #163805;

  .easy-prompt {
    background-color: #3f891a;
  }
}

.medium {
  background-color: #450213;

  .medium-prompt {
    background-color: #dc4c6f;
  }
}

.hard {
  background-color: #050716;

  .hard-prompt {
    background-color: #3c4d82;
  }
}

.flip-card.true {
  background-color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.guess-symbol {
  animation: fadeIn 0.5s;
}
